.newscontainer 
{
    max-height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #eeec8e;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    align-items: center;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    padding: 21;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  
  .section {
    margin: 3%;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .newsHeader
  {
    font-size: 2vw;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background: #b3e6ff;
   }
  
  .newscontent {
    margin: 10px;
   }
  
  .scrollable-content {
    background-color: white;
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
  }
  
  .content
  {
      text-align: left;
      margin-left: 1%;
  } 

  .headline
  {
    font-size: 1vw;
    font-weight: bold;
    margin-top: 1%;
    font-family: sans-serif;
    text-decoration: underline;
    
  }

  .null-check
  {
      display: none;
  }

  .summary
  {
    font-family: sans-serif;
    font-size: 1vw;
    background-color: whitesmoke;
  }

  .dateSource
  {
    margin-top: 0;  
    font-family: sans-serif;
    font-size: 80%;
  }

  .front-news {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: 10%;
    justify-content: center;
    align-content: center;
    margin-bottom: 3%;
    background-color: rgb(238, 236, 142);
    color: black;
    text-align: center;
    font-size: 10px;
    border-radius: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  }
  
  .flex-news-item {
    width: 100%;
    height: 20%;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin: 2%;
  }
  
  .button-news-front {
    margin: 2%;
    width: 30%;
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .button-news-back {
    margin: 2%;
    width: 30%;
    background-color: black;
    color: white;
    padding: 1%;
   
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .button-news-front:hover {
    margin: 2%;
    width: 30%;
    background-color: #b3e6ff;
    color: black;
    padding: 2%;
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .button-news-back:hover {
    margin: 2%;
    width: 30%;
    background-color: #b3e6ff;
    color: black;
    padding: 1%;
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  @media screen and (max-width: 414px) {
  
    .front-news > .flex-news-item > button {
      width: 60%;
      background-color: black;
      color: white;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  
    .button-news-back {
      width: 60%;
      background-color: black;
      color: white;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    .button-news-front {
      width: 60%;
      background-color: black;
      color: white;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  
    .front-news > .flex-news-item > button:hover{
      width: 60%;
      background-color: white;
      color: black;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  
    .button-news-back:hover {
      width: 60%;
      background-color: white;
      color: black;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    .button-news-front:hover {
      width: 60%;
      background-color: white;
      color: black;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }