.d-flex{
   border: 1px solid black;
   width: 30%;
   height: 30vh;
   justify-content: center;
   align-content: center;
   margin: 3%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   background-color: rgb(238, 236, 142);
   border: 1px solid gainsboro;
   -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
     inset 1px 2px 0px rgba(255, 255, 255, 0.4);
   -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
     inset 1px 2px 0px rgba(255, 255, 255, 0.4);
   box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
     inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  }

img{
    width: 50%;
    height: 80%;
    margin: 5%;
}