td { 
  padding: 8px 16px; 
}

tr{
  background: gainsboro;
}

tr:hover
{
  background: rgb(206, 204, 204);
}

th {
  background-color: black;
  color: white;
  padding: 8px 16px; 
}

.main-container
{
  background-color: black;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  background-color: rgb(238, 236, 142);
    color: black;
    text-align: center;
    font-size: 1vw;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
}

.table-container {
  overflow: auto;
  max-height: 600px;
  height: 100%;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 1%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    font-size: 0.8vw;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
}

.table-container thead th {
  position: sticky;
  top: 0;
}
 
  .cell {
    border: 1px solid black;
    font: larger;
    font-weight: bold;
    padding: 3%;
  }
 

  .table-css 
  {
    height: 80%;
     width: 90%;
     margin-top: 3%;
     margin-bottom: 2%;
     border: 1px solid gainsboro;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  } 

  .front-table
  {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 65%;
    padding: 15%;
    justify-content: center;
    align-content: center;
    margin-bottom: 3%;
    background-color: rgb(238, 236, 142);
    color: black;
    text-align: center;
    font-size: 10px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  }
  
  .flex-table-item {
    width: 100%;
    height: 20%;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin: 2%;
  }
  
  .button-table-front {
    margin: 2%;
    width: 30%;
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .button-table-back {
    margin: 2%;
    width: 30%;
    background-color: black;
    color: white;
    padding: 1%;
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .button-table-front:hover {
    margin: 2%;
    width: 30%;
    background-color: #b3e6ff;
    color: black;
    padding: 2%;
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .button-table-back:hover {
    margin: 5%;
    width: 30%;
    background-color: #b3e6ff;
    color: black;
    padding: 1%;
    border-radius: 10%;
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  @media screen and (max-width: 414px) {
  
    .front-table > .flex-table-item > button {
      width: 60%;
      background-color: black;
      color: white;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  
    .button-table-back {
      width: 60%;
      background-color: black;
      color: white;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    .button-table-front {
      width: 60%;
      background-color: black;
      color: white;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  
    .front-table > .flex-table-item > button:hover{
      width: 60%;
      background-color: white;
      color: black;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  
    .button-table-back:hover {
      width: 60%;
      background-color: white;
      color: black;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    .button-table-front:hover {
      width: 60%;
      background-color: white;
      color: black;
      padding: 1%;
      border-radius: 10%;
      font-size: 100%;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }