* {
  box-sizing: border-box;
}

input[type="text"] {
  margin-right: 1%;
}
.AutoComplete {
  padding: 1%;
  background-color: #b3e6ff;
  text-align: center;
}

.AutoComplete > input {
  box-shadow: 5px 5px 5px 0px rgba(158, 157, 157, 0.75);
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.AutoComplete > .list-wrapper {
  list-style-type: none;
  width: 60%;
  border: 1px solid rgba(158, 157, 157, 0.75);
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(158, 157, 157, 0.75);
}

.AutoComplete > .list-wrapper > .list-item {
  margin: 0;
  cursor: pointer;
}

.AutoComplete > .list-wrapper > .list-item:hover {
  text-decoration: underline;
  color: #004FA3;
}

.null_condition {
  display: none;
}

.block_latestquote {
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
}

.error_msg{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 5%;
  padding: 5%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  font-weight: bold;
  padding: 10%;
  background-color: rgb(238, 236, 142);
  color: black;
  text-align: center;
  border-radius: 25%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid gainsboro;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
}