 .searchBar
 {
   width: 100%;
    background-color: rgb(238, 236, 142);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
 }

.row
{
  margin: 1%;
}

.col
{
  text-align: center;
}

.dropDown
{ 
    width: 100%;
    height: 100%;
    border: 1px solid gainsboro;
    padding:0;
    font-size: 90%;
    text-align: center;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
}

.mainContainer
{
    padding: 0; 
    color: black;
    text-align: center;
    font-size: 14px;
    border-radius: 25%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center; 
}

.null_condition 
{
    display: none;
}

.button
{
    background-color: #b3e6ff;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
}

.button:hover
{
    background-color: #b3e6ff;
    color: black;
    border-radius: 5%; 
    font-size: 0.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border: 3px solid lightblue;
}

.StockChartTable
{
    width: 100%;
}
 