 .searchBar
 {
    background-color: white;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gainsboro;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
      inset 1px 2px 0px rgba(255, 255, 255, 0.4);
 }

 .itemcontainer
{
    display: flex;
    justify-content: flex-end;
}

.dropDown
{
    margin-right: 10%;
    width: 10%;
}

.mainContainer
{
    padding: 0; 
    color: black;
    text-align: center;
    font-size: 14px;
    border-radius: 25%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.null_condition {
    display: none;
  }